USE [Obuv]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 12.06.2026 20:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[Id_Tovar] [int] NOT NULL,
	[Articul] [nvarchar](50) NULL,
	[Name_Tovar] [nvarchar](50) NULL,
	[Ed_Izmeren] [nvarchar](50) NULL,
	[Stoimost] [smallint] NULL,
	[Postavshik] [nvarchar](50) NULL,
	[Proizvoditel] [nvarchar](50) NULL,
	[Kategoria_Tovara] [nvarchar](50) NULL,
	[Discount] [tinyint] NULL,
	[Kol_vo_na_sclade] [tinyint] NULL,
	[Opisanie_Tovara] [nvarchar](100) NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[Id_Tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
